<h2>{{ product ? product.name : 'Create new product' }}</h2>
<form [formGroup]="form">
  <div class="mb-3">
    <label for="name" class="form-label">Product name</label>
    <input type="text" formControlName="name" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Product description</label>
    <textarea formControlName="description" class="form-control" id="description"></textarea>
  </div>
  <div class="mb-3">
    <label for="sku" class="form-label">Product sku</label>
    <input type="text" formControlName="sku" class="form-control" id="sku">
  </div>
  <div class="mb-3">
    <label for="cost" class="form-label">Product price</label>
    <input cloudonixCostFormat type="number" step=".01" formControlName="cost" class="form-control" id="cost">
  </div>
  <div class="mb-3">
    <cloudonix-common-product-props
      [properties]="product?.profile"></cloudonix-common-product-props>
  </div>
  <div class="mb-3">
    <cloudonix-custom-product-props [customProperties]="product?.profile"></cloudonix-custom-product-props>
  </div>
  <div class="d-flex justify-content-end mb-3">
    @if (product) {
      <button class="btn btn-danger me-2" (click)="deleteProduct()">Delete</button>
    }
    <button class="btn btn-primary" [disabled]="!form.valid" (click)="saveProduct()">Save</button>
  </div>
</form>
